* {
    font-family: 'League Spartan', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;

    
}

#a-input {
    width: 400px;
    height: 50px;
    border-radius: 9px;
    background-color: #d9cff3;
    
}

#a-input:focus {
    outline: none;
}

body {
    background-color: hsl(222, 26%, 31%); 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 700;
    text-decoration: underline;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-animation: alternate;
}



